body{
    max-width: 1000px;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}
header{
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;
}
form{
    display: flex;
    flex-direction: column;
}
.oneBooking{
    width: 50%;
    text-align: center;
    margin: 0 auto;
    border: 2px solid rgb(230, 150, 52);
    border-radius: 20px;
    padding: 2em 7em;
    margin-bottom: 1em;
}
.oneMeal{
    width: 60%;
    margin: 0 auto;
    border: 2px solid rgb(230, 150, 52);
    border-radius: 20px;
    padding: 2em 7em;
    margin-bottom: 1em;
}
.booking-time{
    font-weight: 600;
    color: red;
}
#start-meals{
    text-align: center;
    width: fit-content;
    margin: 0 auto;
}
#menu a, #menu button{
    color: rgb(233, 233, 225);
    text-decoration: none;
    border: none;
    background-color: rgb(89, 154, 83);
    padding: 0.5em 0.8em;
    border-radius: 8px;
    font-size: 1.2em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0.5em 0.5em
}
#menu a:hover, #menu button:hover{
    color: rgb(89, 154, 83);
    background-color: rgb(233, 233, 225);
    cursor: pointer;
}
.mealbuttons button{
    color: red;
    border: 0.5px solid #ddd;
    border-radius: 6px;
    background-color: transparent;
    font-size: 1em;
    text-decoration: none;
    padding: 0.2em 0.5em;
}
.mealbuttons a{
    color: blue;
    text-decoration: none;
    font-size: 1em;
    border: 0.5px solid #ddd;
    border-radius: 6px;
    padding: 0.2em 0.5em;
}
.mealbuttons a:hover{
    color: white;
    background-color: blue;
}
.mealbuttons button:hover{
    color: white;
    background-color: red;
    cursor: pointer;
}

